* {
    font-family: 'Roboto', sans-serif
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 10px;
}

/* header -------------------------------------*/
header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    align-items: center;
}

header ul {
    display: flex;
    gap: 20px;
}

header h3 {
    color: #F9FAF8;
    margin-right: 600px;
    font-size: 24px;
}

header a {
    font-size: 18px;
    color: #E5E7EB
}
/* ------------------------------------------ */

/* Main ------------------------------------- */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    background-color: #1F2937;
    height: 450px;
}

main h1 {
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;
    width: 70%;
    margin: 0;
    padding: 0;
}

main p , main a{
    font-size: 18px;
    color: #E5E7EB;
}

main p {
    width: 70%;
}

main a {
    background-color: #3882F6;
    width: 20%;
    padding: 8px 12px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.main-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 250px;
    margin-left: 120px;
}

.main-right {
    width: 30%;
    height: 250px;
    margin-left: 80px;
    margin-bottom: 100px;
}

.main-right img {
    width: 50%;
    height: auto;
    border-radius: 190px;
    
}

/*------------------------------------*/

/* INFO SECTION -----------------------*/

.info h3 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.info-flex {
    display: flex;
    justify-content: center;
    gap: 95px;
}

.info-flex div {
    display: flex;
    flex-direction: column;
}


.info-flex div img {
    width: 300px;
    height: 320px;
    border-radius: 20px;
    border: 5px solid #3882F6;
}

.info-flex div p {
    text-align: center;
    color: #1F2937;
    font-size: 23px;
}

.info {

    height: 450px;
    padding-bottom: 100px;
}
/* ------------------------------- */
/* Quote Section --------------------*/
.quote {
    height: 350px;
    background-color: #d8d9dd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote span {
    margin-left: 1150px;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}









ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}